.content {
  .toolbar-background {
    background: #1cd8d2; /* fallback for old browsers */
    background: linear-gradient(to right, #93edc7, #1cd8d2);
  }
  .toolbar-title {
    color: white;
  }
  .header {
    font-size: 35px;
    line-height: 1.1;
  }

  .sub-header{
    margin: 0;
    opacity: 0.5;
    font-size: 13px;
    font-weight: bold;
  }

  .options {
    margin-top: 1.5rem;
    padding: 0 17px 5px;
    .option {

      &.active {
        border-left-width: 5px;
        border-left-style: solid;
        border-image: linear-gradient(to right, #93edc7, #1cd8d2) 1 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        opacity: 0.9;
      }
    }
  }

  .submit {
    --background: #1cd8d2; /* fallback for old browsers */
    font-size: 19px;
    font-weight: bold;
  }

  .response{
    @extend .submit;
    margin-top: 5rem;
  }

}
